*{
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 10vh 4vh 10vh;
    background-color: #75acff;
    
}

#title{
    color: white;
}

#subtitle{
    color: white;
    display: flex;
    justify-content: right;
}

#list {
    list-style-type: none;
    display: flex;
}

li {
    margin: 0 1vh 0 1vh;
    padding: 0 2vh 0 2vh;    
    border-radius: 4px;
    color: white;
 }
